# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
.env

# Files from Forge MDK
forge*changelog.txt
build_log*.txt
hs_err_pid*.log
replay_pid*.log
*.log
